.cd-one {
    background-image: url("../images/caroline-attwood-QLjeFvxpdxc-unsplash.jpg");
    position: relative;
  }
  .cd-two {
    background-image: url("../images/jazmin-quaynor-18mUXUS8ksI-unsplash.jpg");
    position: relative;}
  .cd-three {
    background-image: url("../images//glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg");
    position: relative;
  }
  .cd-four {
    background-image: url("../images/luke-chesser-rCOWMC8qf8A-unsplash.jpg");
    position: relative;
  }
  .cd-five {
    background-image: url("../images/maxim-hopman-fiXLQXAhCfk-unsplash.jpg");
    position: relative;
  }
  .cd-six {
    background-image: url("../images/tengyart-NDejLr1wr-4-unsplash.jpg");
    position: relative;
  }